# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

.vscode/
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.exe
*.out
lib*.h
ojdl/test*
*.swp
*/tempCodeRunnerFile.cpp
